@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);

/* =============================================================================
Selections
========================================================================== */

::-moz-selection {
	background: #c60a6b;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #c60a6b;
	color: #fff;
	text-shadow: none;
}

/* =============================================================================
Typography
========================================================================== */

pre,code,kbd,samp {
	font-family: monospace, monospace;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;
}

q:before,q:after {
	content: "";
	content: none;
}

small {
	font-size: 85%;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* =============================================================================
HTML5 element display
========================================================================== */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
	display: block;
}

audio[controls],canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

body.hide {
  opacity: 0;
}

/* =============================================================================
Links
========================================================================== */

a:hover,a:active {
	outline: 0;
}

a,a:active,a:visited {
	color: #3787A8;
	text-decoration: none;
}:w


a:link,a:visited,a:hover,a:active,:link,:visited,:hover,:active {
	-webkit-transition : all .5s ease-in-out;
	-moz-transition    : all .5s ease-in-out;
	-o-transition      : all .5s ease-in-out;
	-ms-transition     : all .5s ease-in-out;
	transition         : all .5s ease-in-out;
}

/* =============================================================================
Base
========================================================================== */

html {
  font-size: 100%;
  min-height: 100%;
  -ms-overflow-y: scroll;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	 background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}

body {
    font-size: 16px;
    font-size: 1em;
    font-size: 1rem;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 50px;
    text-align: center;
    letter-spacing: 0.1em;
    font-family:'Ubuntu', Helvetica, Arial, sans-serif;
    color: #777;
    line-height: 1.5;
}

/* =============================================================================
Globals
========================================================================== */
#container {
  margin: 50px auto 10px auto;
}

#header {
  margin-top: 10em;
}

#header h3#date {
  color: #FFF;
  text-shadow: -2px -1px 1px #FFAD80, 2px -1px 2px #FFAD80, 1px 2px 2px #FFAD80, -2px 2px 1px #FFAD80;
}


#header h3#date {
  color: #FFF;
  text-shadow: -2px -1px 1px #FFAD80, 2px -1px 2px #FFAD80, 1px 2px 2px #FFAD80, -2px 2px 1px #FFAD80;
}

#header > h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #3787A8;
  /*color: #20A4FC;*/
  text-shadow: -1px -1px 0 #fff;
}

h1 {
    font-family:'Quicksand', sans-serif;
    font-weight: 300;
    letter-spacing: -0.075em;
}

h2, h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
  h2 {
    color: #0D90A2;
    text-shadow: -1px -1px 0 #094055;
  }

  h3 {
    color: #FFAD80;
  }

h1 { font-size: 3rem; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #20A4FC;
  min-height:5.3em;
  height: auto;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 10px;
}

  header h1.logo a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
    float: left;
    letter-spacing: -1px;
    text-shadow: -1px -1px 0 #105786;;
  }
    header h1.logo a:hover {
      color: #fff;
      text-decoration: none;
      text-shadow: -1px -1px 7px #fff, 2px 2px 9px #fff;
    }

p {
  text-align: left;
}

.grid_12 { width: 100%;  }
    .container {
      width: 80%;
      margin: 0 auto;
    }
      .grid_12 > p {
        text-shadow: -1px -1px 0 #fff;
        padding: 0 0 1em 0;
      }
      .container > p {
        text-align: left;
      }
      div.jumbo {
        margin: 5em 0;
        padding: 10px 0 30px 0;
        background-color: #FFFAFA;
        border: 1px solid #ECECEC;
        box-shadow: inset 0 0 1em 0.3em #F5F2F2;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -o-border-radius: 7px;
        border-radius: 7px;
      }
        div.jumbo > p {
          text-align: left;
        }

h2 {
  font-size: 2.7rem;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7rem;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}
/*=========================================================================
 Navigation Styles
 =========================================================================*/

.menu {
  float: right;
  margin-top: 5px;
}
  .menu li {
    display: inline-block;
  }
    .menu li + li {
      margin-left: 35px;
    }
      .menu li a {
        text-align: left;
        text-decoration: none;
        color: #ffffff;
        padding: 0 .5em;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
        -webkit-perspective: 600px;
        -moz-perspective: 600px;
        -ms-perspective: 600px;
        perspective: 600px;
        -webkit-perspective-origin: 50% 50%;
        -moz-perspective-origin: 50% 50%;
        -ms-perspective-origin: 50% 50%;
        perspective-origin: 50% 50%;
        cursor: pointer;
        text-shadow: -1px -1px 0 #105786;
      }
        .menu li a:hover span {
            background: #0A4166;;
            -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX(90deg);
            -moz-transform: translate3d( 0px, 0px, -30px ) rotateX(90deg);
            -ms-transform: translate3d( 0px, 0px, -30px ) rotateX(90deg);
            transform: translate3d( 0px, 0px, -30px ) rotateX(90deg);
            cursor: pointer;
            text-shadow: none;
        }
          .menu li a span {
            display: block;
            position: relative;
            /*padding: .2em .3em;*/
            -webkit-transition: all 400ms ease;
            -moz-transition: all 400ms ease;
            -ms-transition: all 400ms ease;
            -o-transition: all 400ms ease;
            transition: all 400ms ease;
            -webkit-transform-origin: 50% 0%;
            -moz-transform-origin: 50% 0%;
            -ms-transform-origin: 50% 0%;
            -o-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
          }

        .menu li a span:after {
          content: attr(data-title);
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          /*padding: .2em .3em;*/
          color: #fff;
          background-color: #0A4166;;
          -webkit-transform-origin: 50% 0%;
          -moz-transform-origin: 50% 0%;
          -ms-transform-origin: 50% 0%;
          -o-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transform: translate3d(0px, 105%, 0px)rotateX(-90deg);
          -moz-transform: translate3d(0px, 105%, 0px)rotateX(-90deg);
          -ms-transform: translate3d(0px, 105%, 0px)rotateX(-90deg);
          -o-transform: translate3d(0px, 105%, 0px)rotateX(-90deg);
          transform: translate3d(0px, 105%, 0px)rotateX(-90deg);
        }


/*=========================================================================
  index.css my blog page
 =========================================================================*/

#posts { line-height: 1.5em; }

#posts a {
    text-align: left;
    text-decoration: none;
    color: #73C7F7;
    padding: 0 .5em;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    cursor: pointer;
    text-shadow: -1px -1px 0 #fff;
  }
    #posts a:hover span {
      background: dodgerblue;
      -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX(90deg);
      -moz-transform: translate3d( 0px, 0px, -30px ) rotateX(90deg);
      -ms-transform: translate3d( 0px, 0px, -30px ) rotateX(90deg);
      transform: translate3d( 0px, 0px, -30px ) rotateX(90deg);
      cursor: pointer;
      text-shadow: none;
    }
      #posts a span {
        display: block;
        position: relative;
        padding: .2em .3em;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease;
        -webkit-transform-origin: 50% 0%;
        -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
        -o-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }
        #posts a span:after {
          content: attr(data-title);
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          padding: .2em .3em;
          color: #fff;
          background-color: dodgerblue;
          -webkit-transform-origin: 50% 0%;
          -moz-transform-origin: 50% 0%;
          -ms-transform-origin: 50% 0%;
          -o-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
          -webkit-transform: translate3d(0px, 105%, 0px)rotateX(-90deg);
          -moz-transform: translate3d(0px, 105%, 0px)rotateX(-90deg);
          -ms-transform: translate3d(0px, 105%, 0px)rotateX(-90deg);
          -o-transform: translate3d(0px, 105%, 0px)rotateX(-90deg);
          transform: translate3d(0px, 105%, 0px)rotateX(-90deg);
        }

#posts .post-date {
    width: 12em;
    font-size: 0.8em;
    vertical-align: middle;
    text-align: right;
    color: #999999;
    padding-right: 10px;
    float: left;
    text-shadow: -2px -1px 0 #fff;
  }
.jumbo h3 {
  text-shadow: -1px -1px 0 #727272;
}

/*=========================================================================
  post.css my blog page
 =========================================================================*/
#container {
    width: 450px;
}

h3#date {
    font-family: Verdana, sans-serif;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
    color: #999999;
    font-size: 0.8em;
}

#content {
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding-top: 2em;
    font-size: 1em;
    text-align: left;
}
  #content > h1 {
    color: #BBB;
    font-size: 2.7rem;
    text-align: center;
  }

#content p {
    margin-bottom: 1.5em;
    line-height: 1.5;
    text-shadow: -1px -1px 0 #fff;
}
  #content img {
    max-width: 100%;
  }

.post {
  width: 50%;
  min-width: 420px;
  max-width: 500px;
  margin: 0 auto;
  text-align: right;
}

/*=============================================================================
 Social Links
========================================================================== */
.sm {
  text-align: center;
  margin: 5em 0 0 0;
  padding:0;
  list-style:none;
  -webkit-transform: perspective(1000);
  -moz-transform: perspective(1000);
  -ms-transform: perspective(1000);
  -o-transform: perspective(1000);
  transform: perspective(1000);
 }


  .sm li {
    margin: 0 2px;
    display: -moz-inline-stack;display: inline-block;vertical-align: top;zoom: 1;*display: inline;
  }
  .sm a {
    background: url(/static/images/sm3d.png) no-repeat #2e8198;height: 27px; width: 27px;display: inline-block;
    -webkit-transform: perspective(1000);-moz-transform: perspective(1000);-o-transform: perspective(1000);-ms-transform: perspective(1000);transform: perspective(1000);
    -webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transform-style: preserve-3d;
    -webkit-transition: 400ms;-moz-transition: 400ms;-o-transition: 400ms;-ms-transition: 400ms;transition: 400ms;
  }
  .sm a:hover {
    -webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-o-transform: rotate(-90deg);-ms-transform: rotate(-90deg);transform: rotate(-90deg);
  }
  .sm .twitter {}
    .sm .twitter:hover{background-position: 0 -27px;}
  .sm .google {background-position: -32px 0;}
    .sm .google:hover{background-position: -32px -27px;}
  .sm .dribble{background-position: -64px 0;}
    .sm .dribble:hover{background-position: -64px -27px;}
  .sm .forrst {background-position: -96px 0;}
    .sm .forrst:hover{background-position: -96px -27px;}


/*=============================================================================
  syntax.css
========================================================================== */

.hll { background-color: #ffffcc }
.c { color: #aaaaaa; font-style: italic } /* Comment */
.err { color: #FF0000; background-color: #FFAAAA } /* Error */
.k { color: #0000aa } /* Keyword */
.cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
.cp { color: #4c8317 } /* Comment.Preproc */
.c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
.cs { color: #0000aa; font-style: italic } /* Comment.Special */
.gd { color: #aa0000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00aa00 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #0000aa } /* Keyword.Constant */
.kd { color: #0000aa } /* Keyword.Declaration */
.kn { color: #0000aa } /* Keyword.Namespace */
.kp { color: #0000aa } /* Keyword.Pseudo */
.kr { color: #0000aa } /* Keyword.Reserved */
.kt { color: #00aaaa } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #aa5500 } /* Literal.String */
.na { color: #1e90ff } /* Name.Attribute */
.nb { color: #00aaaa } /* Name.Builtin */
.nc { color: #00aa00; text-decoration: underline } /* Name.Class */
.no { color: #aa0000 } /* Name.Constant */
.nd { color: #888888 } /* Name.Decorator */
.ni { color: #880000; font-weight: bold } /* Name.Entity */
.nf { color: #00aa00 } /* Name.Function */
.nn { color: #00aaaa; text-decoration: underline } /* Name.Namespace */
.nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
.nv { color: #aa0000 } /* Name.Variable */
.ow { color: #0000aa } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #aa5500 } /* Literal.String.Backtick */
.sc { color: #aa5500 } /* Literal.String.Char */
.sd { color: #aa5500 } /* Literal.String.Doc */
.s2 { color: #aa5500 } /* Literal.String.Double */
.se { color: #aa5500 } /* Literal.String.Escape */
.sh { color: #aa5500 } /* Literal.String.Heredoc */
.si { color: #aa5500 } /* Literal.String.Interpol */
.sx { color: #aa5500 } /* Literal.String.Other */
.sr { color: #009999 } /* Literal.String.Regex */
.s1 { color: #aa5500 } /* Literal.String.Single */
.ss { color: #0000aa } /* Literal.String.Symbol */
.bp { color: #00aaaa } /* Name.Builtin.Pseudo */
.vc { color: #aa0000 } /* Name.Variable.Class */
.vg { color: #aa0000 } /* Name.Variable.Global */
.vi { color: #aa0000 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */



/*=============================================================================
Embedded content
========================================================================== */
/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/*
 * Correct overflow displayed oddly in IE9
 */
svg:not(:root) {
	overflow: hidden;
}
