#container {
    width: 450px;
}

#posts {
  margin-top:5em;
}

h3#date {
    font-family: Verdana, sans-serif;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
    color: #999999;
    font-size: 0.7em;
}

#content {
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding-top: 2em;
    font-size: 1em;
    text-align: left;
}
  #content > h1 {
    color: #BBB;
    font-size: 2.7rem;
    text-align: center;
  }

#content p {
    margin-top: 0.5em;
    line-height: 1.5em;
}
  #content img {
    max-width: 100%;
  }

.post {
  width: 50%;
  min-width: 420px;
  max-width: 500px;
  margin: 0 auto;
  text-align: right;
}
