{% extends 'layout.html' %}

{% block content  %}

  <div class="grid_12">
    <div class='jumbo'>
      <h2>A little bit about myself.</h2>
      <h3>and what I do</h3>
    </div>
    <p>
    I am a web developer with a passion for cutting edge technologies, uber user interactions and clean               intuitive interfaces.
    </p>
    <p>
       For the past 5 years I've been learning various languages and skills, all related
       to the web.I first learned how to design the sites, then I learned how to code them
       up with HTML and CSS and JavaScript.
    </p>
    <p>
      Then we learned how to analyze the user experience, card sorting, personas, usability testing, information architecture.
      I read books like `Don't make me think` by Steve Krug and I loved every minute of it.
    </p>
    <p>
      Then I learned how to work with databases with PHP and MySQL, I was very excited about
      this, and couldn't get enough. Once I found out about NodeJS on the server, MongoDB
      on the database and Backbone on the frontend, I was hooked.
    </p>
  </div>
{% endblock content %}

