{% extends "layout.html" %}

{% block content %}
  <div class="jumbo">
    <h2>This is my first Flask Application.</h2>
    <h3>It's a work in progress.</h3>
  </div>

  <div class="grid_12">

    <p>
      I am a web developer with a passion for cutting edge technologies, uber user interactions and clean
      intuitive interfaces.
    </p>
    <p>
      I love working with JavaScript, but not affraid to roll up my sleeves and dig into some
      python, ruby or PHP and MySQL.
    </p>
  </div>
{% endblock content %}
