{% extends "layout.html" %}

{% block content %}
  <div class="jumbo">
    <h2>This is my first Flask Application.</h2>
    <h3>It's a work in progress.</h3>
  </div>

  <div class="grid_12">

    <p>
      I am a web developer with a passion for cutting edge technologies, uber user interactions and clean
      intuitive interfaces.
    </p>
    <p>
      I love working with JavaScript (MEAN stack rocks), but not affraid to roll up my sleeves and dig
      into some python, ruby or PHP with MySQL or PostgreSQL.
    </p>

    <p>
      This project was designed in the browser.It started after a phone interview I had with a company
      looking for a frontend developer. Flask was mentioned and it sounded interesting to me so I did 
      some research on it.
      </p>
    <p>
      Basically I just started coding it up, no design to go from, everything was done as I learned.
      The styles evolved from using chrome dev tools and live reload. Once I had a basic color scheme,
      I wanted to keep it clean. The styles and effects where kept to a minimal and enhanced the user
      experience, while maintaining an aesthetic. Granted it's just a prototype so fine tuning would
      be done after the prototype was approved. I had to show that I knew my stuff so I had some
      cool css3 3d transistions and sprinkles of css goodness here and there.
    </p>

  </div>
{% endblock content %}
