{% extends "layout.html" %}

{% block head  %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name='description' content='Flask Blogging application' />
    <meta name='author' content='Tony Brown' />

    <title>Blogging with Flask</title>

    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='viewport' content='width=device-width'>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    <script src='/static/js/jquery.js'></script>
    <script src='/static/js/sugar.js'></script>

    <!-- Atom Feed -->

    <link href="{{ url_for('feed') }}"
      rel="alternate"
      title="Recent Changes"
      type="application/atom+xml">

{% endblock head %}

{% block content %}

  <div id='header'>
    <h1>My Flask blog</h1>
  </div>

  <div id='posts'>
    {% for post in posts %}
        <div class='post'>
          <span class="post-date">{{ post.date|date }}</span>
            <a class="post-title" href="{{ post.url() }}">
              <span data-title="{{post.title}} {% if post.subtitle %} - {{ post.subtitle }}{% endif %}">{{ post.title }}{% if post.subtitle %} - {{ post.subtitle }}{% endif %}</span>
            </a>
        </div>
    {% endfor %}
  </div>
{% endblock content %}
